font-family : 'Raleway', sans-serif ;
.police
{
    font-family: 'Raleway', sans-serif;
}
.txtgras
{
    font-weight: bold;
    font-size : 1.1em;       
}

.marginleft {
margin-left: 40px;
}
p
{
    font-size: 0.7em;
}
a 
{
    text-decoration: none;
    color: black;
}
.between 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.around
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexcolumnbetween 
{
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}
.flexcolumnaround
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexcolumncenter
{
    flex-direction: column;
    display: flex;
    justify-content: center; 
    align-items: center;
}
/*nav*/

.sizelien
{
    width:200px;
    height: 100px;
}


.colorlien 
{
    color: #0065FC;
}
/*recherche*/

.iconemap {
    height: 50px;
    width: 50px;
}
.fondgris {
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}
.fondbleu{
    background-color:  #0065FC;
}
.searchbar {
    height: 50px;
    width: 200px;
    color: black;
    font-weight: bold;
}
.margerecherche {
    margin-bottom:30px;
    margin-top:15px;
}
.bordure{
    border:none;
}

.margebottom {
    margin-bottom:-10px;
}
  /*Filtres*/
  .sizefiltres {
    width: 50%;
    height: 50px;
}

.coloricone {
    color:#0065FC;
}

.fondbleuclair {
    background-color: #DEEBFF;
}

.filtretext {  
    padding-left: 10px;
    padding-right : 20px;
    font-weight: bold;
}
.sizeanimaux:hover > .fondbleuclair {
    background-color: #0065FC;
    color:honeydew;
}
.sizefamilial:hover > .fondbleuclair {
    background-color: #0065FC;
    color:honeydew;
}
.sizeeco:hover > .fondbleuclair {
    background-color: #0065FC;
    color:honeydew;
}
.sizeromantique:hover > .fondbleuclair {
    background-color: #0065FC;
    color:honeydew;
}
.fondfiltres {
    height: 52px;
    width: 52px;
    border-radius: 50%;  
}
.sizetextfiltres {
    font-size: 0.9em;
}
/*info*/
.tailleiconeinfo 
{
    font-size: 0.6em;
}
.fondinfo 
{
    width: 20px;
    border-radius: 50%;
    border: 1px #F2F2F2 solid;
}
/*hebergement*/
.margetxtarticle {
    margin-top: -15px;
    margin-left: 10px;
}
.margestars {
 padding-bottom: 5px;
 margin-left: 10px;
}
.margehetxtbergement1
{
    margin-top: 2px;
    margin-left: 10px;
}
.sizepicturemarseille {
    object-fit: cover;
    width: 350px;
    height:150px;
    border-radius: 20px 20px 0 0;

}
.sizepicturemarseillepopu {
    object-fit: cover;
    width: 250px;
    height:160px;
    border-radius: 20px 0 0 20px;
}

.starcolor{
    color: #0065FC;
}
.sizestar {
    font-size: 0.8em;
}

.marginleftpopu
{
    margin-left: 15px;
}
.margepopulaires1
{
    margin-top: 5px;
    margin-left: -250px;
}
.margepopulaires2
{
    margin-top: -15px;
    margin-left: -250px;
}
.margestarspopulaire
{
    padding-top: 50px;
    margin-left: -250px;
}
.margestarspopulaire2
{
    padding-top: 50px;
    padding-left: 10px;
}
.margepopulaires3
{
    margin-top: 5px;
    margin-left: 15px;
}
.margepopulaires4
{
    margin-top: -15px;
    margin-left: 15px;
}
/*Activités à Marseille*/
.shadow
{
    box-shadow:2px 2px 2px 2px #F2F2F2 ;
}
/*Responsive*/
@media all and (min-width:1024px)
{
    /*nav*/
    .sizeblockheader
    {
     width: 100%;
        height: 100px;
    }
    .bordernav
    {
        border-top: 1px solid transparent;
    }
    .bordernav:hover
    {
        border-top:1px solid#0065FC;  
        cursor: pointer;
    }
    .margin {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }
    /*recherche*/
    .sizediv
    {
        width: 400px;
        height: 50px;
    }
    .search 
    {
        width: 150px;
        height: 50px;
        border-radius: 0 10px 10px 0px;
        color: white;
        font-weight: bold;        
    }
    .iconsearch
    {
        display:none;
    }
      /*Filtres*/
      .sizeeco {
        float: initial;
        height: 50px;
        border: 2px #F2F2F2 solid;
        border-radius: 50px;
    }
    .sizefamilial {
        float: initial;
        height: 50px;
        border: 2px #F2F2F2 solid;
        border-radius: 50px;
    }
    .sizeromantique {
        float: initial;
        height: 50px;
        border: 2px #F2F2F2 solid;
        border-radius: 50px;
    }
    .sizeanimaux {
        float: initial;
        height: 50px;
        border: 2px #F2F2F2 solid;
        border-radius: 50px;
    }
    /*info*/
    .sizeinfo{
        width:300px;
        height: 50px;
    }
    /*hebergement*/
    .margehebergement {
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 30px;
    }
    .sizeblock 
    {
        width: 100%;
        height: 650px;
        min-height: auto;
    }
    .marginblock
    {
        margin-right: 20px;
    }
    .margintitre
    {
        padding-top: 20px;
        padding-left: 40px;
    }
    .fondblock1 
    {
        border-radius: 5% 5% 5% 5%;
        border: 1px #F2F2F2 solid;
        background-color:#F2F2F2;
    }
    .fondpicture 
    {
        border-radius: 20px;
        background-color:white;
        width: 350px;
        padding: 0.5%;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .fondpicturehebergement1 
    {
        border-radius: 20px;
        background-color:white;
        width: 350px;
        padding: 0.5%;
        margin-left: 40px;
        margin-bottom: 20px;
    }
    .fondpicturehebergement2 
    {
        border-radius: 20px;
        background-color:white;
        width: 350px;
        padding: 0.5%;
        margin-right: 60px;
        margin-bottom: 20px;
    }
    /*Populaire*/
    .sizeblock2 
    {
        width:50%;
        height: 650px;
    }

    .fondblock2
    { 
        border-radius: 5% 5% 5% 5%;
        border: 1px #F2F2F2 solid;
        background-color:#F2F2F2;
    }

    .fondpicture2 
    {
        border-radius: 20px;
        background-color:white;
        width: 515px; 
        padding:0.5%;
        margin-left: 40px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    /*Activités à Marseille*/
    .sizeblockacti1
    {
        height: 500px;
    }
    .sizeblockacti2
    {
        height: 500px;
    }
    .sizeblockacti3
    {
        height: 500px;
    }
    .sizeblockacti4
    {
        height: 500px;
    }
    .fondpicture3
    {
        border-radius: 20px;
        background-color:white;
        width: 400px;
        padding:1%
    }
    .sizepicturemarseilleacti1
    {
        object-fit: cover;
        width: 400px;
        height:500px;
        border-radius: 20px 20px 0 0;
    }
    .sizepicturemarseilleacti2
    {
        object-fit: cover;
        width: 400px;
        height:220px;
        border-radius: 20px 20px 0 0;

    }
    .sizepicturemarseilleacti3
    {
        object-fit: cover;
        width: 400px;
        height:180px;
        border-radius: 20px 20px 0 0;
    }
    .margebetween23-56
    {
        margin-top: 50px;
    }
}

@media all and (max-width:1024px)
{
    /*nav*/
    .sizeblockheader
    {
        width: auto;
        
    }
    .flexcolumnreverse
    {
        flex-direction: column-reverse;
    }
    .
    .bordernav
    {
        border-top: 1px solid transparent;
    }
    .bordernav:hover
    {
        border-bottom:1px solid#0065FC;  
        cursor: pointer;
    }
    .margin
    {
        margin-top: 0px;
        margin-bottom: 25px;
        margin-left:20px;
    }
    /*recherche*/
    .sizediv{
        width: 300px;
        height: 50px;
    }
    .search
    {
        width: 50px;
        height: 50px;
        border-radius: 10px 10px 10px 10px;
    }
    .txtrecherche
    {
        display:none;
    }
    .iconsearch
    {
        color: white;
        position: absolute;
    }
      /*Filtres*/
      .sizefiltres
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .sizeeco {
        float: initial;
        height: 50px;
        border: 2px #F2F2F2 solid;
        border-radius: 50px;
        margin-bottom: 20px;
    }
    .sizefamilial {
        float: initial;
        height: 50px;
        border: 2px #F2F2F2 solid;
        border-radius: 50px;
        margin-bottom: 20px;
    }
    .sizeromantique {
        float: initial;
        height: 50px;
        border: 2px #F2F2F2 solid;
        border-radius: 50px;
        margin-bottom: 20px;
    }
    .sizeanimaux {
        float: initial;
        height: 50px;
        border: 2px #F2F2F2 solid;
        border-radius: 50px;
        margin-bottom: 20px;
    }
    .marginfiltres
    {
        margin-top: 0px;
        margin-bottom: 250px;
    }
    /*info*/
    .sizeinfo{
        width:300px;
        height: 50px;
        padding-top: 50px;
    }
    /*hebergement*/
    .block12
    {
        flex-direction: column-reverse;   
    }
    .sizeblock 
    {
        width: 100%;
        min-height: auto;
    }
    .fondpicture 
    {
        border-radius: 20px;
        background-color:white;
        width: 350px;
        margin: 0 auto;
        margin-bottom: 15px;
        box-shadow:2px 2px 2px 2px #F2F2F2;
        
    }
    .fondpicturehebergement1 
    {
        border-radius: 20px;
        background-color:white;
        width: 350px;
        margin: 0 auto;
        margin-bottom: 15px;
        box-shadow:2px 2px 2px 2px #F2F2F2;
    }
    .fondpicturehebergement2
    {
        border-radius: 20px;
        background-color:white;
        width: 350px;
        margin: 0 auto;
        margin-bottom: 15px;
        box-shadow:2px 2px 2px 2px #F2F2F2;
    }
    /*Populaire*/
    .sizeblock2 
    {
        width: 100%;
    }

    
    .fondblock2
    { 
        border: 1px #F2F2F2 solid;
        background-color:#F2F2F2;
    }
    .fondpicture2
    {
        border-radius: 20px;
        background-color:white;
        width: 515px;
        padding: 0.5%; 
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .ligne1
    {
        flex-direction: column;
    }
    .ligne2
    {
        flex-direction: column;
    }
    /*Activités à Marseille*/
    .blockactivites
    {
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .sizeblockacti1
    {
        height: 500px;
        margin-bottom: -280px;
    }
    .sizeblockacti2
    {
        height: 500px;
        margin-bottom: -60px;
    }
    .sizeblockacti3
    {
        height: 500px;
        margin-bottom: -280px;
    }
    .sizeblockacti4
    {
        height: 500px;
        margin-bottom: 20px;
    }
    .margebetween23-56
    {
        margin-top: 5px;
    }
    .fondpicture3
    {
        border-radius: 20px;
        background-color:white;
        width: 350px;
        padding: 0.5%;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .sizepicturemarseilleacti1
    {
        object-fit: cover;
        width: 350px;
        height:150px;
        border-radius: 20px 20px 0 0;
    }
    .sizepicturemarseilleacti2
    {
        object-fit: cover;
        width: 350px;
        height:150px;
        border-radius: 20px 20px 0 0;
    }
    .sizepicturemarseilleacti3
    {
        object-fit: cover;
        width: 350px;
        height:150px;
        border-radius: 20px 20px 0 0;
    }
}
