
font-family : 'Raleway', sans-serif;

.police
{
    font-family: 'Raleway', sans-serif;
}


p
{
    font-size: 0.7em;
}
a 
{
    text-decoration: none;
    color: black;
}
.between 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.around
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexcolumnbetween 
{
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}
.flexcolumnaround
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexcolumncenter
{
    flex-direction: column;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.margin{
    margin-top: 50px;
    margin-left: 50px;
}

.margintitle2
{
    padding-top: 20px;
    margin-left:20px;
    padding-bottom: 20px; 
}


/*header*/


ul
{
    list-style-type:none;
}
a
{
    margin-left: 50px;
    margin-right: 50px;
}
.colorlien 
{
    color: #0065FC;
}

h1{
    font-size: 1.5em;
}
p{
    font-size: 0.8em;
}
/*searchbar*/
.iconemap {
    height: 50px;
    width: 50px;
}
.fondgris {
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}
.fondbleu{
    background-color:  #0065FC;
}
.searchbar {
    height: 50px;
    width: 200px;
    color: black;
    font-weight: bold;
}
.margerecherche {
    margin-bottom:30px;
    margin-top:15px;
}
.bordure{
    border:none;
}

.margebottom {
    margin-bottom:-10px;
}
  /*Filtres*/
.sizefiltres 
{
    width: 50%;
    height: 50px;
}

.coloricone 
{
    color:#0065FC;
}

.fondbleuclair 
{
    background-color: #DEEBFF;
}

.filtretext 
{  
    padding-left: 10px;
    padding-right : 20px;
    font-weight: bold;
}
.sizefondfiltres:hover > .fondbleuclair 
{
    background-color: #0065FC;
    color:honeydew;
}

.fondfiltres 
{
    height: 55px;
    width: 55px;
    border-radius: 50%; 
    position: relative; 
    margin-left: -2px;
}
.sizetextfiltres 
{
    font-size: 0.9em;
}
/*info*/
.sizeinfo{
    width:325px;
    height: 50px;
}
.tailleiconeinfo 
{
    font-size: 0.6em;
}
.fondinfo 
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:1px grey solid;
}
/*hebergement*/

.margetxtarticle {
    margin-top: -15px;
    margin-left: 10px;
}
.margestars {
 padding-bottom: 5px;
 margin-left: 10px;
}
.margetxthebergement1
{
    margin-top: 2px;
    margin-left: 10px;
}
.sizepicturemarseille {
    object-fit: cover;
    width: 350px;
    height:150px;
    border-radius: 20px 20px 0 0;
}
.starcolor{
    color: #0065FC;
}
.sizestar {
    font-size: 0.8em;
}

 /*Populaire*/


.margepopulaires2
{
    margin-top: -15px;
    margin-left: -250px;
}

.margestarspopulaire2
{
    padding-top: 50px;
    padding-left: 10px;
}
.margepopulaires3
{
    margin-top: 5px;
    margin-left: 15px;
}
.margepopulaires4
{
    margin-top: -15px;
    margin-left: 15px;
}
.marginright
{
    margin-right: 10px;
}
/*Activités à Marseille*/
.shadow
{
    box-shadow:2px 2px 2px 2px #F2F2F2 ;
}
/*footer*/
.sizeblockfooter
{
    width: 100%;
    height: auto;
} 
.fondblockfooter
{
    width: 100%;
    height: auto;
    background-color:#F2F2F2;
}
.margintitlefooter
{
    margin-left: 50px;
}
.marginbottomfooter
{
    margin-bottom: 12px;
}
@media all and (min-width:1024px)
{
    .txtgras
    {
        font-weight: bold;
        font-size: 1.1em;     
    }
    .sizediv
    {
        width: 400px;
        height: 50px;
    }
    .search 
    {
        width: 150px;
        height: 50px;
        border-radius: 0 10px 10px 0px;
        color: white;
        font-weight: bold;        
    }
    .iconsearch
    {
        display:none;
    }
    /*Filtres*/
    .sizefondfiltres
    {
        float: initial;
        height: 50px;
        border: 3px #F2F2F2 solid;
        border-radius: 50px;
    }
   /*hebergement*/
   .sizeblock 
    {
        width: 75%;
        height: auto;
        min-width: 1200px;
        margin-right: 20px;
    }
   .fondblock1 
   {
       width: 75%;
       height: 850px;
       border-radius: 5% 5% 5% 5%;
       border: 1px #F2F2F2 solid;
       background-color:#F2F2F2;
       min-width: 784px;
   }
    .marginblock
    {
        margin-right: 20px;
        margin-bottom: 20px;
    }    
    .margintitle
    {
        padding-top: 20px;
        margin-left:20px;
        margin-bottom: -30px; 
    }
    .fondpicture 
    {
        border-radius: 20px;
        background-color:white;
        width: 350px;
        padding: 0.5%;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 90px;
    }
 /*Populaire*/
    .sizepicturemarseillepopu {
        object-fit: cover;
        width: 250px;
        height:160px;
        border-radius: 20px 0 0 20px;
    }
    .sizeblock2 
    {
        width:25%;
        height: 752px;
    }
    .fondblock2
    { 
        border-radius: 5% 5% 5% 5%;
        border: 1px #F2F2F2 solid;
        background-color:#F2F2F2;
    } 
    .fondpicture2 
    {
        border-radius: 20px;
        background-color:white;
        width: 400px; 
        padding:0.5%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    /*Activités à Marseille*/
    .sizeblockacti
    {
        width: 100%;
        height: auto;
    }
    .sizeblockacti1
    {
        width: 100%;
        height: auto;
        margin-left: -50px;
    }
    .sizeblockacti2
    {
        width: 50%;
        height: auto;
    }
    .fondpicture3
    {
        border-radius: 20px;
        background-color:white;
        width: 400px;
        padding:1%;
        
    }
    .fondpicture4
    {
        border-radius: 20px;
        background-color:white;
        width: 400px;
        padding:1%;
        margin-right: -50px;
    }
    .sizepicturemarseilleacti1
    {
        object-fit: cover;
        width: 400px;
        height:500px;
        border-radius: 20px 20px 0 0;
    }
    .sizepicturemarseilleacti2
    {
        object-fit: cover;
        width: 400px;
        height:220px;
        border-radius: 20px 20px 0 0;

    }
    .sizepicturemarseilleacti3
    {
        object-fit: cover;
        width: 400px;
        height:180px;
        border-radius: 20px 20px 0 0;
    }
    .margebetween23-56
    {
        margin-top: 50px;
    }
}
@media all and (max-width:1370px) and (min-width:1024px)
{
    .flexwrap
    {
        flex-wrap: wrap;
    }
}
@media all and (max-width:1650px) and (min-width:1024px)
{
    .flexwrap2
    {
        flex-wrap: wrap;
    }
}
@media all and (max-width:1600px) and (min-width:1024px)
{
    /*Hebergement*/
    .sizeblock
    {
        width: 100%;
        height: auto;
        min-width: 875px;
    }
    /*Populaire*/
    .block2
    {
        flex-direction: column-reverse;
    }
    .sizeblock2 
    {
        width:100%;
        height: auto;
        min-width: 875px;
    }
    .fondblock2
    { 
        border-radius: 5% 5% 5% 5%;
        border: 1px #F2F2F2 solid;
        background-color:#F2F2F2;
        margin-bottom: 20px;
    } 
    .fondpicture2 
    {
        border-radius: 20px;
        background-color:white;
        width: 400px; 
        padding:0.5%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .between2
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /*Activites*/

}
@media all and (max-width:1200px) and (min-width:1024px)
{
    .sizefiltres
    {
        width: 50%;
        height: 100px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        display: flex;
    }
  
    /*Hebergement*/
    .sizeblock
    {
        width: 100%;
        height: auto;
        min-width: 875px;
    }
    .flexwrap
    {
        flex-wrap: wrap;
    }
    .block12
    {
        display: inline-flex;
    }
    .fondpicture 
    {
        border-radius: 20px;
        background-color:white;
        width: 350px;
        padding: 0.5%;
        margin-right: 20px;
       
        margin-top: 90px;
    }
    .flexcolumnaround2
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
@media all and (max-width:1024px)
{
    ul
    {
        flex-direction:column-reverse;  
        justify-content: space-around;
        display: flex;      
    }
    .betweennav
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /*search*/
    .sizediv{
        width: 300px;
        height: 50px;
    }
    .search
    {
        width: 50px;
        height: 50px;
        border-radius: 10px 10px 10px 10px;
    }
    .txtrecherche
    {
        display:none;
    }
    .iconsearch
    {
        color: white;
        position: absolute;
    }
  /*Filtres*/
    .sizefiltres
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .sizefondfiltres {
        float: initial;
        height: 50px;
        border: 2px #F2F2F2 solid;
        border-radius: 50px;
        margin-bottom: 20px;
    }
    .marginfiltres
    {
        margin-top: 0px;
        margin-bottom: 300px;
    }
    /*hebergement*/
    .fondblock1 
   {
       width: 100%;
       height: auto;

   }
    .flexcolumnaround2
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .sizeblock 
    {
        width: 100%;
        height: auto;
    }
    .fondpicture 
    {
        border-radius: 20px;
        background-color:white;
        width: 350px;
        margin: auto;
        margin-bottom: 15px;
        box-shadow:2px 2px 2px 2px #F2F2F2;
    }
    .margintitle
    {
        padding-top: 20px;
        margin-left:350px;
         
    }
    /*Populaire*/
    .sizepicturemarseillepopu {
        object-fit: cover;
        width: 140px;
        height:160px;
        border-radius: 20px 0 0 20px;
    }
    .block2
    {
        flex-direction: column-reverse;
        display: flex;
    }

    .sizeblock2 
    {
        width: 100%;
        height: auto;
    }
    .margepopulaires3
    {
        margin-top: 10px;
        margin-left: 15px;
    }
    .margepopulaires4
    {
        margin-top: -15px;
        margin-left: 15px;
    }
    .margestarspopulaire2
    {
        padding-top: 15px;
        padding-left: 10px;
    }
    .fondblock2
    { 
        width: 100%;
        height: auto;
        border: 1px #F2F2F2 solid;
        background-color:#F2F2F2;
        
    }
    .fondpicture2
    {
        border-radius: 20px;
        background-color:white;
        width: 350px;
        padding: 0.5%; 
        margin: auto;
        margin-bottom: 15px;
    }
     /*Activités à Marseille*/
     .sizeblockacti1
     {
         height: 500px;
         margin-bottom: -280px;
     }
     .fondpicture3
     {
         border-radius: 20px;
         background-color:white;
         width: 350px;
         padding: 0.5%;
         margin-bottom: 20px;
     }
 
     .sizepicturemarseilleacti1
     {
         object-fit: cover;
         width: 350px;
         height:150px;
         border-radius: 20px 20px 0 0;
     }
     .sizepicturemarseilleacti2
     {
         object-fit: cover;
         width: 350px;
         height:150px;
         border-radius: 20px 20px 0 0;
     }
     .sizepicturemarseilleacti3
     {
         object-fit: cover;
         width: 350px;
         height:150px;
         border-radius: 20px 20px 0 0;
     }
     .flexwrap2
     {
         flex-wrap: wrap;
     }
     .margintopfooter
     {
        margin-top: 1500px;
     }
     .margintitlefooter
     {
        margin-left: 50px;
        font-size: 1.5em; 
     }
     .txtgras
     {
        font-weight: bold;
        font-size: 1.0em;
     }
     .txtnavgras
     {
        font-weight: bold;
        font-size: 1.5em;
     }
     p
     {
         font-size: 0.8em;
     }
     a 
    {
        text-decoration: none;
        color: black;
        font-size: 1.5em;
    }
    h2
    {
        font-size: 1.8em;
    }
    .sizetextfiltres 
    {
        font-size: 1.2em;
    }
}