font-family : 'Raleway', sans-serif;

.police
{
    font-family: 'Raleway', sans-serif;
}
.txtgras
{
    font-weight: bold;
    font-size : 1.1em;       
}

p
{
    font-size: 0.7em;
}
a 
{
    text-decoration: none;
    color: black;
}
.between 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.around
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexcolumnbetween 
{
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}
.flexcolumnaround
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexcolumncenter
{
    flex-direction: column;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.margin{
    margin-top: 50px;
    margin-left: 50px;
}
.margintitle
{
    padding-top: 20px;
    margin-left:20px;
    margin-bottom: -30px; 
}
.margintitle2
{
    padding-top: 20px;
    margin-left:20px;
    margin-bottom: 10px; 
}


/*header*/


ul
{
    list-style-type:none;
}
a
{
    margin-left: 50px;
    margin-right: 50px;
}
.colorlien 
{
    color: #0065FC;
}

h1{
    font-size: 1.5em;
}
p{
    font-size: 0.8em;
}
/*searchbar*/
.iconemap {
    height: 50px;
    width: 50px;
}
.fondgris {
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}
.fondbleu{
    background-color:  #0065FC;
}
.searchbar {
    height: 50px;
    width: 200px;
    color: black;
    font-weight: bold;
}
.margerecherche {
    margin-bottom:30px;
    margin-top:15px;
}
.bordure{
    border:none;
}

.margebottom {
    margin-bottom:-10px;
}
  /*Filtres*/
.sizefiltres 
{
    width: 50%;
    height: 50px;
}

.coloricone 
{
    color:#0065FC;
}

.fondbleuclair 
{
    background-color: #DEEBFF;
}

.filtretext 
{  
    padding-left: 10px;
    padding-right : 20px;
    font-weight: bold;
}
.sizefondfiltres:hover > .fondbleuclair 
{
    background-color: #0065FC;
    color:honeydew;
}

.fondfiltres 
{
    height: 55px;
    width: 55px;
    border-radius: 50%; 
    position: relative; 
    margin-left: -2px;
}
.sizetextfiltres 
{
    font-size: 0.9em;
}
/*info*/
.sizeinfo{
    width:325px;
    height: 50px;
}
.tailleiconeinfo 
{
    font-size: 0.6em;
}
.fondinfo 
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:1px grey solid;
}
/*hebergement*/
.sizeblock 
    {
        width: 75%;
        height: auto;
        min-width: 1200px;
    }
.margetxtarticle {
    margin-top: -15px;
    margin-left: 10px;
}
.margestars {
 padding-bottom: 5px;
 margin-left: 10px;
}
.margehetxtbergement1
{
    margin-top: 2px;
    margin-left: 10px;
}
.sizepicturemarseille {
    object-fit: cover;
    width: 350px;
    height:150px;
    border-radius: 20px 20px 0 0;
}
.starcolor{
    color: #0065FC;
}
.sizestar {
    font-size: 0.8em;
}
.fondblock1 
{
    width: 75%;
    height: 750px;
    border-radius: 5% 5% 5% 5%;
    border: 1px #F2F2F2 solid;
    background-color:#F2F2F2;
    min-width: 784px;
}
 /*Populaire*/
 .sizepicturemarseillepopu {
    object-fit: cover;
    width: 250px;
    height:160px;
    border-radius: 20px 0 0 20px;
}

.margepopulaires2
{
    margin-top: -15px;
    margin-left: -250px;
}

.margestarspopulaire2
{
    padding-top: 50px;
    padding-left: 10px;
}
.margepopulaires3
{
    margin-top: 5px;
    margin-left: 15px;
}
.margepopulaires4
{
    margin-top: -15px;
    margin-left: 15px;
}
@media all and (min-width:1200px)
{
    .sizediv
    {
        width: 400px;
        height: 50px;
    }
    .search 
    {
        width: 150px;
        height: 50px;
        border-radius: 0 10px 10px 0px;
        color: white;
        font-weight: bold;        
    }
    .iconsearch
    {
        display:none;
    }
    /*Filtres*/
    .sizefondfiltres
    {
        float: initial;
        height: 50px;
        border: 3px #F2F2F2 solid;
        border-radius: 50px;
    }
   /*hebergement*/
   .margehebergement {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    }
    .marginblock
    {
        margin-right: 20px;
        margin-bottom: 20px;
    }    
    .fondpicture 
    {
        border-radius: 20px;
        background-color:white;
        width: 350px;
        padding: 0.5%;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 90px;
    }
 /*Populaire*/
    .sizeblock2 
    {
        width:25%;
        height: 752px;
    }
    .fondblock2
    { 
        border-radius: 5% 5% 5% 5%;
        border: 1px #F2F2F2 solid;
        background-color:#F2F2F2;
    } 
    .fondpicture2 
    {
        border-radius: 20px;
        background-color:white;
        width: 400px; 
        padding:0.5%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
@media all and (max-width:1200px) and (min-width:800px)
{
    .sizefiltres
    {
        width: 50%;
        height: 100px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        display: flex;
    }
    .sizeblock
    {
        width: 75%;
        height: auto;
        
    }
    .flexwrap
    {
        flex-wrap: wrap;
    }
    .block12
    {
        display: inline-flex;
    }
}
@media all and (max-width:800px)
{
    ul
    {
        flex-direction:column-reverse;        
    }

    /*search*/
    .sizediv{
        width: 300px;
        height: 50px;
    }
    .search
    {
        width: 50px;
        height: 50px;
        border-radius: 10px 10px 10px 10px;
    }
    .txtrecherche
    {
        display:none;
    }
    .iconsearch
    {
        color: white;
        position: absolute;
    }
  /*Filtres*/
    .sizefiltres
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .sizefondfiltres {
        float: initial;
        height: 50px;
        border: 2px #F2F2F2 solid;
        border-radius: 50px;
        margin-bottom: 20px;
    }
    .marginfiltres
    {
        margin-top: 0px;
        margin-bottom: 300px;
    }
}